<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>CS546 Final Project</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <h1>Group Study</h1>
    </header>

    {{{body}}}

    <footer>CS546 Final Project</footer>
    {{!--
    <script type="module" src="/public/js/main.js"></script>

    <script type="text/javascript" src="../public/js/sendbird.min.js"></script> --}}


</body>

</html>