<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>CS546 Final Project</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/socket.js"></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css'>
</head>

<body>
    <header>
        <h1 class="page-title">Group Study  </h1>
        
    </header>

    {{{body}}}

    <script type="module" src="/public/js/main.js"></script>
    <script src="../public/js/sendbird.min.js"></script>

</body>

</html>