<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset="utf-8">
    <title>Lab 8</title>
    <link rel="stylesheet" href="/public/css/lab10.css">
</head>
<body>
    <header> <h1>Group Study </h1> </header>
      
    

        {{{body}}}
   
    <footer>CS546 Final Project</footer>
</body>
</html>

