    <main>
    <p>Study Buddies will allow students to connect with each other to collaborate on assignments, projects, and study for exams in an active, comfortable environment.</p>
   

     <form class="inline" id="login" action="/login">
        <button class="button-homepage" type="submit">Login</button>
            </form>
    <form class="inline" id="signUp" action="register">
        <button class="button-homepage" type="submit">Sign Up</button>
    </form>
</main>