<form action="/login" method="POST" id="login-form">
    <label for="emailAddressInput">Username:</label>
    <input type="email" id="emailAddressInput" name="emailAddressInput">

    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInput" name="passwordInput">
    Show Password<input type="checkbox" onclick="showPassword1()">

    <button id="loginButton" class="loginPageButton" type="submit">Login</button>
</form>
<div class="register-login">
    <a href="/register">Click here to register!</a>
</div>
  <script src="../public/js/dropdown.js"></script>
